<section class="faq-section">
    <h2>FAQ</h2>
    <div class="faq">
        <hr>
        <ul>
            <li class="faq__item">
                Как добраться до музея?
                <div class="faq-menu">
                    <p>В Национальный музей Республики Татарстан можно добраться общественным транспортом:1) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;</p>
                </div>
            </li>
            <li class="faq__item">
                Есть ли поблизости удобная парковка?
                <div class="faq-menu">
                    <p>В Национальный музей Республики Татарстан можно добраться общественным транспортом:1) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;</p>
                </div>
            </li>
            <li class="faq__item">
                Можно ли воспользоваться аудиогидом?
                <div class="faq-menu">
                    <p>В Национальный музей Республики Татарстан можно добраться общественным транспортом:1) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;</p>
                </div>
            </li>
        </ul>
    </div>
</section>