<section class="describe-section">
    <div class="wrapper">
        <h2>Подпишись</h2>
    <form class="form">
        <p>Отправляем анонсы новых статей, выпусков и трансляций</p>
        <div class="form__box">
            <input type="email" placeholder="Email">
            <input type="date" placeholder="11.02.2022">
            <input id="phone" type="tel" placeholder="Телефон">
            <input type="time" placeholder="15:00">
        </div>
        <button class="button">Подписаться</button>
    </form>
    </div>
</section>