<section class="news-section">
    <h2>Новости</h2>
    <div class="news">
            <a href="#" class="news__item">
                <img src="./images/news1.png" alt="news1">
                <h3>Заголовок</h3>
                <p>ОписаниОписание Описание  Описание Описание Описание  Описаниее</p>
            </a>
            <a href="#" class="news__item">
                <img src="./images/news2.png" alt="news2">
                <h3>Заголовок</h3>
                <p>ОписаниОписание Описание  Описание Описание Описание  Описаниее</p>
            </a>
            <a href="#" class="news__item">
                <img src="./images/news3.png" alt="news3">
                <h3>Заголовок</h3>
                <p>ОписаниОписание Описание  Описание Описание Описание  Описаниее</p>
            </a>
            <a href="#" class="news__item">
                <img src="./images/news4.png" alt="news4">
                <h3>Заголовок</h3>
                <p>ОписаниОписание Описание  Описание Описание Описание  Описаниее</p>
            </a>
            <a href="#" class="news__item">
                <img src="./images/news5.png" alt="news5">
                <h3>Заголовок</h3>
                <p>ОписаниОписание Описание  Описание Описание Описание  Описаниее</p>
            </a>
            <a href="#" class="news__item">
                <img src="./images/news6.png" alt="news6">
                <h3>Заголовок</h3>
                <p>ОписаниОписание Описание  Описание Описание Описание  Описаниее</p>
            </a>
    </div>
</section>